DATABASE_URL=
NEXTAUTH_SECRET=
OPENAI_API_KEY=
INTERNAL_SECRET=
PUSHER_APP_ID=
PUSHER_SECRET=
PUSHER_KEY=
NEXT_PUBLIC_PUSHER_KEY=
PUSHER_CLUSTER=eu
NEXT_PUBLIC_PUSHER_CLUSTER=eu
FASTAPI_URL=http://localhost:8000
AUTH_SECRET=
